body {
  font-family:
    "Lato", sans-serif; /*Custom Font: Northeastern Official Font List*/
  background-color: rgb(44, 44, 44);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

p {
  color: white;
}

html,
body,
#root {
  height: 100%;
  color: white; /*Attempting to pinpoint form issues*/
  /*margin: 10pt;*/
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
