.filmFormContainer {
    font-size: xx-large;
}
.submitButton, .submitButton:focus, .submitButton:active {
  background-color: #c8102e;
  border: "2px solid";
  border-color: #c8102e;
  border-radius: "4px";
  border: 5% auto;
}
