body {
    color:white;
    background-color: rgb(44, 44, 44);
}

.submitButton {
  background-color: #c8102e;
  border: "2px solid";
  border-color: #c8102e;
  border-radius: "4px";
  border: 5% auto;
}

.submitButton:hover {
    background-color: #c8102e;
    border-color: #c8102e;
}