.filmFormContainer {
  margin: 5% auto;
}

.formText {
  font-size: large;
  color: white;
}

.text-white {
  font-size: xx-large;
}

.submitButton {
  background-color: #c8102e;
  border: "2px solid";
  border-color: #c8102e;
  border-radius: "4px";
  border: 5% auto;
}
