.filmFormContainer {
  
  margin: 100px auto;
  padding: 20px;
  border: 1px solid white; 
  border-radius: 8px;
}

.formText {
  font-size: large;
  color: white;
}

.text-white {
  font-size: xx-large;
}

.submitButton, .submitButton:focus, .submitButton.btn:active {
  background-color: #c8102e;
  border: "2px solid";
  border-color: #c8102e;
  border-radius: "4px";
  border: 5% auto;
}

