body {
  margin: 0;
}

.navbar {
  background-color: gray;
  padding: 10px 20px;
  margin: 0;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-family: "Arial Narrow";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

ul li a:hover {
  background-color: #3b3b3b;
  padding: 5px 5px;
  border-radius: 5px;
}

.logo img {
  max-width: 5%;
  height: auto;
}
